<div class="navbar">
    <div class="top">
        <mat-icon [inline]='true'>notifications_none</mat-icon>
    </div>
    <div class="user">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Breezeicons-actions-22-im-user.svg/1200px-Breezeicons-actions-22-im-user.svg.png" width="200" height="200">
        <h4 class="name">admin</h4>
        <p class="mail">admin@gmail.com</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>dashboard</span>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" [routerLink]="['']">
                <mat-icon>dashboard</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/post']">
                <mat-icon>message</mat-icon>
                <span>My Blogs</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/gallery']">
                <mat-icon>pages</mat-icon>
                <span>Gallery</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/aboutMe']">
                <mat-icon>person</mat-icon>
                <span>About Me</span>
            </button>
        </div>
    </div>
</div>