<div class="navbar">
    
    <div class="user">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Breezeicons-actions-22-im-user.svg/1200px-Breezeicons-actions-22-im-user.svg.png" width="200" height="200">
        <h4 class="name">{{ name }}</h4>
        <p class="mail">{{ email }}</p>
        <p class="mail">{{ type }}</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>dashboard</span>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" [routerLink]="['/user']">
                <mat-icon>dashboard</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/user/post']">
                <mat-icon>message</mat-icon>
                <span>My Blogs</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/user/gallery']">
                <mat-icon>pages</mat-icon>
                <span>Gallery</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/user/aboutMe']">
                <mat-icon>person</mat-icon>
                <span>About Me</span>
            </button>
        </div>
    </div>
</div>