<mat-sidenav-container class ="container">
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <img src="https://pbs.twimg.com/profile_images/1278685511628894210/pFR0YChy_400x400.png" height="60px" alt="">
                    <h2 class="title">Hewlett Packard Enterprise</h2>
                    
                    <!-- <button (click)='sidebar.toggle()'>toggle sidebar</button> -->
                </mat-toolbar>
            </div>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
