<mat-accordion multi="true" *ngIf="posts.length>0">
    <mat-expansion-panel *ngFor="let post of posts" [expanded]="true"  >
    <mat-expansion-panel-header class="title">
        {{post.title}}
    </mat-expansion-panel-header>
    <p class="content">{{post.content}}</p>
    <mat-action-row>
        <p class="date" >by - {{ post.email }}</p>
        <p class="date" >{{ post.dateTime | date: 'MMM d,y,h:mm:ss a'}}</p>
        

    </mat-action-row>
    <br>
    </mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length <=0">No Posts Available</p>